.button_additional_navigation {
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;   
    text-align: center;
    display: inline;
    margin: 7px;
}
.panel_additional_navigation {
    text-align: center;
}
.messages{
    border: 2px solid red;
}
.messages1{
    border: 2px solid red;
    border-width: 2px;
    width: 500px;
    height: 40px;
    border-radius:  10px 10px 0px 0px;
}
.message {
    color: rgb(255, 255, 255);
    background-color: rgb(254, 7, 7);
    border-radius: 10px 10px 10px 0px;
    width: 300px;
    height: auto;

}
.name_restaurant {
    color: rgb(255, 0, 0);
    text-align: center;
}
.panel_navigate_restaurant {
   background-image:
   url('https://lh3.googleusercontent.com/pw/AP1GczOpxPmNGAc_JqdTNWV8gGV1Cfa392G3JDrunKPZVha1kvyigX63v7uOa4roWLhlnLeoe9BmkS3jChI3mMwar_DSc_hRIUMZFlL-32EcW7DAi0Ryo0A=w2400');
   background-position: center;
   background-size: cover;
   height: 500px;
   color: rgb(255, 0, 0);
   text-align: center;

}

.birthday_block {
   color: blue;
   background-color: rgb(157, 232, 255);
   text-align: center;
}
.history {
color: rgb(64, 131, 1);
background-color: rgb(241, 255, 158);
border-radius: 10px;
padding: 5px;
margin-top: 10px;
margin-bottom: 10px;
}
.welcome {
    color: rgb(201, 7, 0);
background-color: rgb(253, 176, 176);
border-radius: 10px;
font-size: larger;
text-align: center;
}
.rights {
    color: rgb(201, 7, 0);
background-color: rgb(253, 176, 176);
border-radius: 10px;
font-size: larger;
text-align: left;
padding: 5px;
}
.menu {
  
       border-radius: 10px;
       background-color: red;
       color: white;
       border: none;
       font-size: 20px;
       display: inline;
       cursor: pointer;
       transition: background-color 0.5s;
   }
           .menu:hover {
               background-color: blue;
               color: white;
   }
   .main_page {
   
       border-radius: 10px;
       background-color: red;
       color: white;
       border: none;
       font-size: 20px;
       display: inline;
       cursor: pointer;
       transition: background-color 0.5s;
   }
           .main_page:hover {
               background-color: darkgreen;
               color: white;
   }
   .order {
   
       border-radius: 10px;
       background-color: red;
       color: white;
       border: none;
       font-size: 20px;
       display: inline;
       cursor: pointer;
       transition: background-color 0.5s;
   }
           .zakaz:hover {
               background-color: yellow;
               color: rgb(0, 0, 0);
   }
   .table {
   
       border-radius: 10px;
       background-color: red;
       color: white;
       border: none;
       font-size: 20px;
       display: inline;
       cursor: pointer;
       transition: background-color 0.5s;
   }
           .table:hover {
               background-color: white;
               color: black;
   }
   
   footer {
      background-color: rgb(255, 0, 0);
      text-align: center;
      color: rgb(255, 255, 255);
      
      
   }
.image {
    text-align: center;
}
/* main {
    filter: grayscale(90%);
}
.head {
    filter: grayscale(90%);
}

.technical_problems_window {
    border: 3px solid red;
    min-height: 200px;
    max-width: 1000px;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 150%;
    margin-left: 13%;
    margin-right: 200%;
    position: fixed;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    margin-top: 7%;
}
.text_techical_problem {
    margin-top: 7%;
}

@media (max-width: 1024px) {
    .technical_problems_window {
        margin: 0%;
        width: 450x;
    }
}
@media (max-width: 600px) {
    .technical_problems_window {
        margin: 0%;
        width: 450x;
    }
} */

.Telegram_channel {
    text-decoration: none;
    background-color: rgb(250, 108, 83);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    font-size: 120%;
}
.Telegram_channel:hover {
    background-color: rgb(83, 133, 250);

}
